@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kode+Mono:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
.yatra {
  font-family: "Yatra One", system-ui;
}
.sofia {
  font-family: "Sofia", cursive;
}
.sacra {
  font-family: "Sacramento", cursive;
}
.pacifico {
  font-family: "Pacifico", cursive;
}
.jetbrains {
  font-family: "JetBrains Mono", monospace;
}
.kode-mono {
  font-family: "Kode Mono", monospace;
}
.raleway {
  font-family: "Raleway", sans-serif;
}
.nav-container {
  position: relative;
  /* transform: translateY(200%); */
  /* animation: navUp 2.4s ease 3.6s forwards; */
}

@keyframes navUp {
  to {
    transform: translateY(0);
  }
}

.nav-list {
  position: relative;
  grid-template-columns: auto auto auto auto;
  /* animation: navListUp 2.4s ease 0.6s forwards; */
}
.nav-item:hover {
  transition: filter 0.6s ease;
  color: black;
}
/* .nav-list:hover:has(.nav-item:not(.active):hover) .nav-item:not(:hover) {
  filter: blur(3px);
} */
.nav-item.active {
  @apply text-xl lg:text-7xl p-0 select-none pointer-events-none;
}

.nav-item.active {
  animation: navActiveUp 0.6s ease forwards;
  grid-column: 1 / -1;
  order: 4;
  transition: max-height 2.4s ease-out, opacity 1.2s ease-out,
    transform 1.2s ease-out, filter 0.6s ease;
}
@keyframes navActiveUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.nav-item:not(.active) {
  position: relative;
  opacity: 0;
  padding: 2px 6px;
  cursor: pointer;
  transition: max-height 1.2s ease-out, opacity 1.2s ease-out,
    transform 1.2s ease-out, filter 0.6s ease;
  max-height: 0;
}
.nav-item:hover{
  color: #22c55e;
}
.nav-list:hover .nav-item {
  transition: max-height 2.4s ease-out, opacity 1.2s ease-out,
    transform 1.2s ease-out, filter 0.6s ease;
  max-height: 200px;
  opacity: 1;
}
/* .nav-list:hover .nav-item.active {
  filter: blur(3px);
} */

@keyframes navListUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.para .text-span:not(.arrow-hero):not(.highlight) {
  @apply cursor-default;
}
.para .text-span:not(.arrow-hero) {
  @apply duration-300 inline-block pr-2 leading-tight opacity-0;
}
.highlight {
  @apply relative cursor-pointer text-lead ;
}
/* .para:hover .text-span:not(.highlight):not(.arrow-hero) {
  filter: blur(2px);
} */

.arrow-hero {
  display: inline-block;
  opacity: 0;
}
.arrow-hero {
  @apply blur-[2px] lg:blur-[1px] 
}
.hero-span {
  opacity: 0;
}
.mob-nav-item.active{
  color: white;
}
.nav-handler {
  animation: navHandleUp 2.4s ease forwards;
}

@keyframes navHandleUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.tree-home {
  animation: gentle-sway 6s ease-in-out infinite alternate;
  transform-origin: center left;
}

@keyframes gentle-sway {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(2deg);
  }
}
.skill-item {
  @apply h-min;
}
.text-gradient {
  background: linear-gradient(45deg, red, blue, green);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.links-container:has(.github-link:hover) .github-arrow {
  transform: translateX(0);
}
.github-arrow {
  transition: transform 0.6s ease;
  transform: translateX(-200%);
}
.links-container:has(.email-link:hover) .email-arrow {
  transform: translateX(0);
}
.email-arrow {
  transition: transform 0.6s ease;
  transform: translateX(200%);
}
.links-container:has(.cv-link:hover) .cv-arrow {
  opacity: 1;
  transform: rotate(90deg) translateX(0);
}
.cv-arrow {
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: rotate(90deg) translateX(-50%);
}
.links-name-container div {
  transition: filter 0.6s ease;
}
.links-name-container:has(div:hover) div:not(:hover) {
  filter: blur(1px);
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }

  25% {
    opacity: 1;
    transform: translateX(0);
  }

  75% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(0);
  }
}


.staggered-fade-slide-1 {
  animation: fadeSlideIn 3s ease-in-out infinite;
}

.staggered-fade-slide-2 {
  animation: fadeSlideIn 3s ease-in-out 0.3s infinite;
}
@keyframes fadeSlideOut {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }

  25% {
    opacity: 1;
    transform: translateX(0);
  }

  75% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(0);
  }
}


.staggered-out-slide-1 {
  animation: fadeSlideOut 3s ease-in-out infinite;
}

.staggered-out-slide-2 {
  animation: fadeSlideOut 3s ease-in-out 0.3s infinite;
}
.blob-anim {
  animation: blobHover 10s ease-in-out infinite;
}

@keyframes blobHover {

  0%,
  100% {
    transform: scale(1) translateX(-45%);
    border-radius: 30%;
    background-color: #4ade80;
  }

  25% {
    transform: scale(1.1) translateX(-50%);
    border-radius: 40%;
    background-color: #34d399;
  }

  50% {
    transform: scale(1.2) translateX(-55%);
    border-radius: 50%;
    background-color: #10b981;
  }

  75% {
    transform: scale(1.1) translateX(-50%);
    border-radius: 40%;
    background-color: #34d399;
  }
}